body {
background-color:#536999;
color: #faffc9;
padding: 10px;
}
#hello{
	text-align:center;
	background-color:#4f4f4f;
}
#image {
	float:right;
}


#content {
	width: 70%;
	float: left;
}
